/* --- FONTS -- */

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Black.ttf);
}

@font-face {
    font-family: Proxima Bold;
    src: url(../fonts/ProximaNova-Bold.woff);
}

@font-face {
    font-family: Proxima Regular;
    src: url(../fonts/ProximaNova-Regular.woff);
}

/* Fontastic Fonts */

@font-face {
  font-family: "mill-fonts";
  src:url("../fonts/mill-fonts.eot");
  src:url("../fonts/mill-fonts.eot?#iefix") format("embedded-opentype"),
    url("../fonts/mill-fonts.woff") format("woff"),
    url("../fonts/mill-fonts.ttf") format("truetype"),
    url("../fonts/mill-fonts.svg#mill-fonts") format("svg");
  font-weight: normal;
  font-style: normal;

}

/* End Fontastic Fonts */


/* --- END FONTS --- */

/* --- Main --- */

html {
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}

body {
    margin:0 auto;
    background: linear-gradient(10deg, #ffffff 50%, #29d4c7 50%);
    height: 100%;
}

/* --- End Main --- */

/* --- Header --- */

.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}

.navbar-default {
    background-color: transparent;
}
    
.navbar-default .navbar-brand {
    color: #ffffff;
    font-size: 40px;
}

/* --- End Header --- */

/* --- Typogrpahy --- */

h1 {
    text-transform: uppercase;
    color: #ffffff;
}

.tagline h1 {
    font-family: Lato;
    line-height: 1em;
}

.video-title h3 {
    font-family: Proxima Bold;
    font-size: 1.5em;
}

.video-text {
    font-family: Proxima Regular;
    font-size: 1em;
}

/* --- End Typography --- */

/* --- Vimeo Responsive --- */

.js-video {
    height: 0;
    padding-top: 25px;
    padding-bottom: 56.5%;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
 
.js-video.widescreen {
    padding-bottom: 56.34%;
}
 
.js-video.vimeo {
    padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* --- End Vimeo Responsive --- */

/* --- Vimeo Thumnails --- */

ul {
    padding: 0;
}

.videoThumbnails li {
    display:inline-block;
    margin: 0.97%;
    cursor:pointer;
    width: 23.54%;
}

.videoThumbnails li:first-child, .videoThumbnails li:nth-child(4n+1) {
    margin-left: 0;
}

.videoThumbnails li:last-child, .videoThumbnails li:nth-child(4n+4) {
    margin-right: 0;
}

.videoThumbnails figure {
    margin:0;
    opacity:0.7;
    position: relative;
}

.videoThumbnails img {
    width: 100%;
}

.videoThumbnails figure:hover, .videoThumbnails .nowPlaying {
    opacity:1
}

.icon-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 3em;
    display: none;
}

.videoThumbnails .nowPlaying .icon-play, .videoThumbnails figure:hover .icon-play {
    display: block;
}

/* --- End Vimeo Thumbnails --- */

/* --- Icons --- */


[data-icon]:before {
  font-family: "mill-fonts" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mill-fonts" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mill-logo:before {
  content: "\61";
}
.icon-play:before {
  content: "\62";
}

/* --- End Icons --- */

/* --- Footer --- */

footer {
    background: #373737;
    padding: 50px 0;
}

footer * p {
    color: #ffffff;
    font-family: Proxima Regular;
}

footer .copyright p {
    font-size: 0.75em;
}

/* Contact Form */

.btn {
    padding: 10px 16px;
}

.btn-contact { 
    text-transform: uppercase;
    background-color: transparent;
    color: #ffffff;
    font-size: 0.8em;
    font-family: Proxima Regular;
}

.contact-form {
    text-align: right;
}

/* End Contact Form */


/* --- End Footer --- */

/* --- Media Queiries --- */

@media (min-width: 1200px) {
    
    .container {
        max-width: 960px;
    }
    
}
    
    
@media (min-width: 992px) {
    
    .container {
        max-width: 960px;
    }
    
}

@media (max-width: 992px) {
    
    .videoThumbnails li {
        width: 23.54%;
    }
    
}
    
    
@media (min-width: 768px) {
    
    .container {
        max-width: 960px;
    }
    
}

@media (max-width: 479px) {

    .videoThumbnails .nowPlaying .icon-play, .videoThumbnails figure:hover .icon-play {
        display: none;
    }
    
    .tagline h1 {
        font-size: 26px;
    }
    
}

/* --- End Media Queiries --- */