<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Mill technical test built using AngularJS</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
	<link rel="stylesheet" href="css/style.css">
    
    <!-- FONTASTIC -->
    <link href="https://file.myfontastic.com/YJ9XzYgcqSGy36L72BKtiP/icons.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body ng-app="millApp">
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://www.themill.com/" target="new"><span class="icon-mill-logo"></span></a>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 tagline">
                    <h1 class="text-right">Moving People<br>
                    Through<br>
                    Moving Image</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="player" class="videoPlayer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div vimeo-player class="js-video vimeo"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="videoThumbnails" ng-controller="videoPlayerThumbnailController">
                        <ul>
                            <li ng-repeat="thumb in videoData" ng-click="changeVideo(thumb)" id="{{thumb.video_id}}" target="player">
                                <figure ng-class="{nowPlaying: nowPlaying === thumb.video_id}"><span class="icon-play"></span><img ng-src="{{thumb.thumbnail_url}}"></figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 copyright">
                    <p>Copyright © 2016 The Mill (Facility) Ltd Terms & Conditions.</p>
                    </div>
                <div class="col-md-6 contact-form">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-contact">Contact Us</button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/angular.min.js"></script>
</body>
</html>
