<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Mill technical test built using AngularJS</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
	<link rel="stylesheet" href="css/style.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body ng-app="millApp" ng-controller="formController">
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://www.themill.com/" target="new"><span class="icon-mill-logo"></span></a>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 tagline text-right">
                    <h1>Moving People Through Moving Image</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="player" class="videoPlayer">
        <div class="container">
            <div class="row video-player">
                <div class="col-md-12">
                    <div vimeo-player class="js-video vimeo"></div>
                </div>
            </div>
            <div class="row video-thumbs">
                <div class="col-md-12">
                    <div class="videoThumbnails" ng-controller="videoPlayerThumbnailController">
                        <ul>
                            <li ng-repeat="thumb in videoData" ng-click="changeVideo(thumb)" id="{{thumb.video_id}}" target="player">
                                <figure ng-class="{nowPlaying: nowPlaying === thumb.video_id}"><span class="icon-play"></span><img ng-src="{{thumb.thumbnail_url}}"></figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row video-info">
                <div class="col-md-12">
                    <article ng-controller="videoInfoController" ng-show="metadata">
                        <div class="row">
                            <div class="col-md-12 video-title">
                                <h3>{{ metadata.title }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div ng-bind-html="safeHtml(metadata.text)" class="video-text"></div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 copyright">
                    <p>Copyright © 2016 The Mill (Facility) Ltd Terms & Conditions.</p>
                    </div>
                <div class="col-md-6 contact-form">
                    <div role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-contact" ng-click="showForm=true" ng-show="!showForm">Contact Us</button>
                    </div>
                    <div class="success-message" id="messages" ng-show="message">{{ message }}</div>
                    <form ng-submit="processForm()" ng-show="showForm">                 
                        <div id="name-group" class="form-group" ng-class="{ 'has-error' : errorName }">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Name" ng-model="formData.name">
                            <span ng-show="errorName" class="error-message">{{ errorName }}</span> 
                        </div>
                        <div id="email-group" class="form-group" ng-class="{ 'has-error' : errorEmail }">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Email" ng-model="formData.email">
                            <span ng-show="errorEmail" class="error-message">{{ errorEmail }}</span> 
                        </div>
                        <button type="submit" class="btn btn-success btn-submit">Submit</button>
                  </form>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/angular.min.js"></script>
    <script src="js/millApp.js"></script>
    <!-- LOAD JQUERY -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</body>
</html>
